<%- include('../includes/head') %>

<h1>Matches</h1>

<a href="/admin">Go to admin</a>

<section>
	<article>
		<h2>Team A - Team B</h2>
		<p>3-0</p>
		<button>
			<a href="/details">&rarr;</a>
		</button>
	</article>
	<article>
		<h2>Team C - Team D</h2>
		<p>In progress..</p>
		<button>
			<a href="/details">&rarr;</a>
		</button>
	</article>
	<article>
		<h2>Team E - Team F</h2>
		<p>Starts 15:00</p>
		<button>
			<a href="/details">&rarr;</a>
		</button>
	</article>
</section>

<%- include('../includes/end') %>
