<nav id="navigation" class="bottom-nav">
    <h2>Navigation</h2>
    <li>
        <a href="/">Matches</a>
    </li>
    <li>
        <a href="/admin">Admin</a>
    </li>
</nav>

<a href="#navigation" onclick="toggleMenu(this)">
    <button class="nav-btn" hidden>Menu</button>
</a>
