<%- include('../includes/head') %>

<h1>Add Match</h1>

<a href="/admin">&larr; Go back</a>

<br /><br />

<main>
	<form action="/admin/add-match" method="POST">
		<div>
			<input type="hidden" name="id" value="<%= id %>" />
		</div>
		<div>
			<label for="team1">Team 1*</label>
			<input type="text" name="team1" required />
		</div>
		<div>
			<label for="team2">Team 2*</label>
			<input type="text" name="team2" required />
		</div>
		<div>
			<label for="time">Time*</label>
			<input type="datetime-local" name="time" required />
		</div>
		<div>
			<label for="score1">Score team 1</label>
			<input type="number" name="score1" id="" />
		</div>
		<div>
			<label for="score2">Score team 2</label>
			<input type="number" name="score2" id="" />
		</div>
		<button><a href="/">View</a></button>
		<button type="submit">Save</button>
	</form>
</main>

<%- include('../includes/end') %>
