body {
	text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3f3f3;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
	margin-top: 5vh;
}

article {
	padding: 1em;
	box-shadow: rgba(0, 0, 0, 0.5) 0 1px 5px;
	margin: 1em;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    border-radius: 0.5em;
    height: 3em;
}

@media screen and (min-width: 768px) {
    article {
        width: 80%;
    }
}

article h3 {
    font-size: 1.25em;
    margin: 0;
    color: #1d1d1d;
}

article p {
    margin: 0.5em 0;
    justify-self: flex-end;
    color: hsl(0, 0%, 50%);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;
}

article a button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    width: 20%;
}

article a button span {
    display: none;
}

.edit-match-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.edit-match-btn span {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}


article a button::after {
    content:url('/img/arrow-right.svg');
    transform: translateY(10%);
}

header {
    height: 10em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

header > h1 {
    text-transform: uppercase;
    margin: 0;
}

main {
  background-color: #fafafa;
  width: 95%;
  height: 100%;
  margin-top: 1em;
  border-radius: 2em;
  max-width: 900px;
}

/* === Details page === */

hr {
    width: 60%;
    margin-top: 2em;
}

.score-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.score-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 4em;
    margin: 0 0.4em;
    height: 1.5em;
    width: 1.25em;
    border: 2px solid #000;
}

.score-container > div > p {
    margin: 0;
}


/* === NAV === */
nav {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

nav h2 {
    font-size: 2em;
}

nav li {
    margin: 0 1em;
    font-size: 1.5em;
}

.nav-btn {
    width: 5em;
    height: 5em;
    bottom: 5%;
    right: 5%;
    border-radius: 50%;
    background-color: #ccc;
    position: fixed;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-btn:active {
    transform: scale(0.95);
}

.css-disabled {
    display: none;
}

section ol {
    list-style: none;
    padding-left: 0;
}

/* FORMS */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25em;
    clear: both;
}

form .finished {
    margin: 1em 0;
    align-self: center;
}

input[type="checkbox"] {
    margin: 1em;
    transform: scale(3);
}

form input:not(input[type="checkbox"]):not(input[type="number"]) {
    font-size: 1em;
    margin: 0.5em 0;
    width: 100%;
    box-shadow: inset 1px 3px 2px rgba(0, 0, 0, 0.25);
    height: 2em;
    border-radius: 0.2em;
    text-align: center;
}

textarea {
    font-size: 1em;
    margin: 0.5em 0;
    width: 100%;
    box-shadow: inset 1px 3px 2px rgba(0, 0, 0, 0.25);
}

form input[type="number"] {
    width: 15%;
    text-align: center;
    font-size: 1em;
    margin: 0.5em 0;
    box-shadow: inset 1px 3px 2px rgba(0, 0, 0, 0.25);
    height: 1.5em;
    border-radius: 0.2em;
    text-align: center;
}

textarea {
    vertical-align: top;
}


.btn {
    border: none;
    background-color: rgb(139, 139, 139);
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.75em 2.5em;
    margin: 0.5em;
    border-radius: 0.25em;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    align-self: center;
    width: 90%;
    max-width: 400px;
}

.btn:active {
    transform: scale(0.95);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.add-btn {
    background-color: hsl(120, 60%, 29%);
    color: #f3f3f3;
}

.delete-btn {
    background-color: hsl(0, 69%, 46%);
    color: #f3f3f3;
}


